body {
  background: #bdc3c7;
}
.submitButton {
  margin: 10px;
}
.container {
  height: 48em;
  border-radius: 10px;
  background-color: #bdc3c7;
}
#map {
  height: 28em;
  width: 80em;
  /*margin: auto;*/
  border-radius: 10px;
}
.btn {
  margin-bottom: 4em;
}
.addressInput {
  height: auto;
  /*border: 5px solid black;*/

}
.mapContainer {
  height: 28em;
  width: 80.5em;
  margin-top: 5em;
  margin-left: 8px;
  /*margin: auto;*/
}
