<!DOCTYPE HTML>
<html>
	<head>
		<meta name="description" content="SFSU Hackathon - Earthquake compliance">
		<link rel='stylesheet' href="{{ url_for('static', filename='style.css')}}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlVc7bospKP6_GfzRmOBi_BbkeakAkuzA&callback=initMap" async defer></script>
		<script src="../static/earthquake.js" ></script>
		<script src='../static/js/scripts.js'></script>
		<title>SFSU Hackathon - Earthquake compliance</title>
	</head>
	<body>
		<div class='container'>
			<header>
				<h1>San Francisco building earthquake compliance</h1>
			</header>
			<hr />
			<i><h3>Is my building in compliance?</h3></i>
			<div class='form-group addressInput'>
				<form action='/cityLookup' method="post">
				<legend><h4>Enter your address, please note that city and state are appended automatically. Just enter the number and street name</h4></legend>
					<input id ='address' type='text' name='city' class='form-control' alt="Property Address" placeholder= "Example : 318 Church St" />
					<input id ='submit' class='btn btn-primary pull-right submitButton' type='submit' value='Submit' alt="Submit" />
				</form>
			</div>
			<div class='mapContainer'>
				<div id='map'></div>
			</div>
		</div>
	</body>
</html>
